.home {
  width: 70%;
  height: 100%;
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;

  &__scroll {
    display: flex;
    flex-wrap: wrap;
  }
}
